body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(249, 99%, 26%);
  display: flex;
  justify-content: center;
  color: hsl(249, 29.03%, 84.29%);
}

h1,
h2 {
  color: hsl(44.83, 100%, 50%);
}
